

<div class="header-container" id="header-container">

<!-- Site navigation -->

  <!-- The title of the site -->
  <div>
    <header class="site-header">
      <a href="{{ site.baseurl }}/">
        <div class="avatar">
          <img src="/assets/images/cat.jpeg" />
        </div>
      </a>
      <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->

    </header>
  </div>
  <div>
    <header class="site-header">
      <a href="{{ site.baseurl }}/">
        <div class="avatar">
          <img src="/assets/images/avatar.png" />
        </div>
      </a>
      <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
    </header>
  </div>
</div>
